<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>PlayBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <body>
    <header class="header">
      <nav class="header-nav">
      <img class="header-logo">
      <ul class="header-list">
        <li><a href="#">Become a host</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Log in</a></li>
      </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
